# Compiled Code
*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs
parts
target
bin
var
sdist
develop-eggs
.installed.cfg
*.egg-info/
MANIFEST

# Logs
pip-log.txt
*.log

# Unit test / coverage reports
.coverage
.tox
htmlcov

# py.test artifacts
__pycache__

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# vim
.*.sw[po]

# emacs
*~
*#
